{% extends 'base_blog.html' %}

  {% block title %}
  Конфигуратор ПК
  {% endblock %}

  {% block content_select %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Выберите комплектующие ПК</h4>
        <form class="needs-validation" action="/leave_pc/">
          {% csrf_token %}
          <div class="mb-3">
          <label for="PC">Введите название собранного ПК</label><br>
          <input type="text" name="name" class="custom-input w-50">
          </div>
          <div class="mb-3">
  		    <label for="CPC">Процессор</label><br>
  			  <select class="custom-select d-block w-50" id="country" required="">
            {% if cpu_text %}
            {% for a in cpu_text %}
            <option> {{ a.name }} </option>
            {% endfor %}
            {% else %}
            <option> Текст </option>
            {% endif %}
          </select>
          </div>
          <div class="mb-3">
   		  <label for="CPC">Видеокарта</label><br>
  			<select class="custom-select d-block w-50" id="country" required="">
            {% if gpu_text %}
            {% for a in gpu_text %}
            <option> {{ a.name }} </option>
            {% endfor %}
            {% else %}
            <option> Текст </option>
            {% endif %}
          </select>
          </div>

          <div class="mb-3">
   		  <label for="CPC">Блок питания</label><br>
  			<select class="custom-select d-block w-50" id="country" required="">
          {% if power_text %}
          {% for a in power_text %}
          <option> {{ a.name }} </option>
          {% endfor %}
          {% else %}
          <option> Текст </option>
          {% endif %}
              </select>
          </div>

          <div class="mb-3">
   		  <label for="CPC">Оперативная память</label><br>
  			<select class="custom-select d-block w-50" id="country" required="">
          {% if ram_text %}
          {% for a in ram_text %}
          <option> {{ a.name }} </option>
          {% endfor %}
          {% else %}
          <option> Текст </option>
          {% endif %}
              </select>
          </div>

          <div class="mb-3">
   		  <label for="CPC">Материнская плата</label><br>
  			<select class="custom-select d-block w-50" id="country" required="">
          {% if motherboard_text %}
          {% for a in motherboard_text %}
          <option> {{ a.name }} </option>
          {% endfor %}
          {% else %}
          <option> Текст </option>
          {% endif %}

              </select>
          </div>

          <hr align="left" class="mb-4 w-50">
          <button class="btn btn-primary btn-lg btn-block w-50" type="submit" href="">Собрать ПК</button>
        </form>
      </div>
    </div>

  </div>
{% endblock %}
